<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">Accueil</a>
              <a class="extra" href="/">Coupes</a>
              <a class="extra" href="/">Gallerie</a>
              <a class="extra" href="/projets/">Projets personnels</a>
              <a class="extra" href="/apropos.html">A propos</a>
            </div>
     
                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  GobGob Technology<br />
                  Hackers et créateurs de robots<br />
                  contact@gobgob-technology.fr
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/gobgob/">github.com/gobgob</a><br />
                  <a href="http://twitter.com/GobGobTechno/">twitter.com/GobGobTechno/</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
